<%layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="card" style="width: 35rem; background-color: rgb(148, 148, 238);">
        <img src="/images/man.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Hi, I'm Raghav Sharma, a 3rd-year Computer Engineering student at sinhgad  College of Engineering, Pune. I specialize in web development, with a strong focus on frontend technologies like HTML, CSS, and JavaScript. Currently, I am diving into backend development using the MERN stack to expand my skill set as a full-stack developer. With a humble and collaborative mindset, I enjoy working in teams to solve problems and create impactful solutions. My passion lies in building responsive, user-friendly web applications, and I aim to pursue a career in web development post-graduation."</p>
          <a href="/skills" class="btn btn-primary">skills</a><br><br>
          <a href="/achivements" class="btn btn-primary">Achivements</a><br><br>
          <a href="/contact" class="btn btn-primary">contact</a><br><br>
        </div>
      </div>
    
</body>
</html>