<%layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="card" style="width: 25rem; background-color: rgb(115, 115, 238);">
        <div class="card-body" >
          <h3 class="card-title"><b>Raghav Sharma</b></h3><br>
          
          <p class="card-text"><b> Email:</b> raghav.sharma@example.com</p>
          <p class="card-text"><b> LinkedIn:</b> linkedin.com/in/ragavsharma </p>
          <p class="card-text"><b>GitHub:</b> github.com/raghavsharma</p>
          <p class="card-text"><b>Portfolio:</b> raghavsharma.dev</p><br>
          <a href="/projects" class="btn btn-primary">Projects</a><br>
          
          
        </div>
      </div>
    
</body>
</html>