<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div>
    <div class="main">
      <div class="leftdiv">   
          <div class="card1" style="width: 25rem; background-color: rgb(57, 65, 127); padding: 1.5rem; border-radius: 0.5rem; color: white;  ">
              <div class="card-body">
                <h3 class="card-title">I am <b>RAGHAV SHARMA </b>software developer at gogle</h3><br>
                
                <p class="card-text">
                  I am a MERN stack developer with a passion for building responsive, user-friendly web applications.  I strive to create impactful digital experiences."
              </p>
                <a href="/skills" class="card-link">skills</a><br><br>
                <a href="/about" class="card-link">About me</a>
              </div>
            </div>
  
      </div>
      <div class="rightdiv">
          <img src="/images/developer.jpg" alt="Example Image" style="width: 470px; height: auto; border-radius: 0.5rem;">
  
      </div>
    </div>

  </div>
  
       
  
</body>
</html>