<%layout("/layouts/boilerplate.ejs") %>
<body>
   <div class="skills" style="display: flex; flex-direction: column; align-items: center;">
    <div class="card2" style="width: 25rem; ">
      <div class="card-body" style="background-color: rgb(143, 102, 238); padding: 1rem;  margin-top: 1rem; margin-bottom: 1rem; border-radius: 0.5rem;">
        <h4 class="card-title"><b>Frontend Development</b></h4><br>
        <p class="card-text"><b>Languages :</b>
          HTML5,CSS3,JavaScript(ES6+)    
       </p>
        <p class="card-text"><b>Libraries/frameworks :</b>
          React.js,Redux,Bootstrap,Tailwind CSS 
       </p>
        <p class="card-text"><b>Tools:</b>
          Webpack,Babel,ESLint  
        </p>
        <p class="card-text"><b>Styling:</b>
          Responsive Design,CSS Grid,Flexbox  
        </p>
        <br>
        <a href="/projects" class="btn btn-primary">Projects</a><br> 
      </div>
    </div>
    
    <div class="card2" style="width: 25rem;">
      <div class="card-body" style="background-color: rgb(143, 102, 238); padding: 1rem; margin-top: 1rem; margin-bottom: 1rem; border-radius: 0.5rem; ">
        <h4 class="card-title"><b>Backend Development</b></h4><br>
        <p class="card-text"><b>Languages :</b>
          Node.js  
       </p>
        <p class="card-text"><b>Frameworks :</b>
          Express.js 
       </p>
        <p class="card-text"><b>API Developments:</b>
          REST APIs 
        </p>
        <p class="card-text"><b>Authentication:</b><br>
          JSON Web Tokens(JWT) 
        </p>
        <br>
        <a href="/projects" class="btn btn-primary">Projects</a><br>
      </div>
    </div>
    <div class="card2" style="width: 25rem;">
      <div class="card-body" style="background-color: rgb(143, 102, 238); padding: 1rem; margin-top: 1rem; margin-bottom: 1rem; border-radius: 0.5rem;">
        <h4 class="card-title"><b>Database managments</b></h4><br>
        <p class="card-text"><b>Datbases :</b>
          MongoDB(Mongoose)  
       </p>
        <p class="card-text"><b>Techniques :</b>
          Database Indexing,Ouery Optimization 
       </p>
        <br>
        <a href="/projects" class="btn btn-primary">Projects</a><br> 
      </div>
    </div>


   </div>
        
           
</body>
</html>